In [33]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import  mean_squared_error,r2_score,mean_absolute_error

In [6]:
# Load data set
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
# enconde the categorical and object data using for loop
le = LabelEncoder()
for i in df.columns:
    if df.dtypes[i]== 'object' or df.dtypes[i] == 'category':
        df[i] = le.fit_transform(df[i])
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [25]:
# split the data set into train and test
X = df.drop('sex' , axis = 1)
Y = df["sex"]

# train test split the data
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.2 , random_state = 42)

# call our model

model = RandomForestClassifier(n_estimators=500, max_depth=7, random_state=42)
model.fit(X_train , Y_train)
y_pred = model.predict(X_test)

print("accuracy_score" , accuracy_score(Y_test , y_pred))
print("confusion_matrix: \n" , confusion_matrix(Y_test , y_pred))
print("classification_report: \n" , classification_report(Y_test , y_pred))

accuracy_score 0.6326530612244898
confusion_matrix:
 [[ 5 14]
 [ 4 26]]
classification_report:
               precision    recall  f1-score   support

           0       0.56      0.26      0.36        19
           1       0.65      0.87      0.74        30

    accuracy                           0.63        49
   macro avg       0.60      0.56      0.55        49
weighted avg       0.61      0.63      0.59        49

# Random_forest for Regression

In [34]:
# split the data set into train and test
X = df.drop('tip' , axis = 1)
Y = df["tip"]

# train test split the data
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.2 , random_state = 42)

# call our model

model = RandomForestRegressor(n_estimators=500, max_depth=7, random_state=42)
model.fit(X_train , Y_train)
y_pred = model.predict(X_test)

# evaluate the model
print('mean squared error: ', mean_squared_error(Y_test, y_pred))
print('mean absolute error: ', mean_absolute_error(Y_test, y_pred))
print('r2 score: ', r2_score(Y_test, y_pred))
print('root mean squared error: ', np.sqrt(mean_squared_error( Y_test, y_pred)))

mean squared error:  0.9299048540965463
mean absolute error:  0.7672112520576424
r2 score:  0.25605906278307766
root mean squared error:  0.9643157439845864

In [ ]:
# save the model
import pickle
pickle.dump(model, open('model.pkl','wb'))